langchain>=0.3,<0.4
langgraph>=0.2,<0.3
langchain-community>=0.3,<0.4
langchain-core>=0.3,<0.4
langchain-groq>=0.2,<0.3
langchain-openai>=0.2,<0.3
langchain-google-genai>=2,<3
faiss-cpu
tavily-python
bs4
requests
beautifulsoup4
pydantic
langchain-text-splitters>=0.3,<0.4
python-dotenv
PyYAML
fastapi
uvicorn
motor
pymongo
streamlit
python-multipart